.bbp-topic-freshness-author .bbp-author {
  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  &-name {
    font-size: 12px;
    color: var(--e-global-color-7939a86);
  }
  &-avatar img {
    border-radius: 50%;
  }
}

.bbp-replies {

  & .bbp-header {
    display: none;
  }

  & .bbp-reply-header {
    border: none;

    & .bbp-meta span,a {
      font-size: 12px;
    }
  }

  & .bbp-body {
    & div.hentry {
      --reply-padding: 40px;
      display: flex;
      margin-bottom: 30px;

      & .bbp-reply-author {
        padding: var(--reply-padding);
        width: 200px !important;
      }

      & .bbp-reply-content {
        margin: 0 !important;
        padding: var(--reply-padding) !important;
      }
    }
  }

  & .bbp-footer {
    display: none;
  }
}

.bbp-reply-author {
  & .bbp-author-avatar img {
    border-radius: 50%;
  }
}

div#bbpress-forums {
  & > div.bbp-breadcrumb,
  & > div.bbp-template-notice.info {
    display: none;
  }

  & > div.bbp-pagination {
    & > div.bbp-pagination-count {
      display: none;
    }

    & > div.bbp-pagination-links {
      float: none;
      // mehr styles
    }
  }
  & > li.bbp-topic-voice-count {
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  & > ul.bbp-topics {
    & > li.bbp-header {
      color: var(--e-global-color-text);
      background: var(--e-global-color-secondary);
      font-size: 1.25rem;
      padding: 0;
      & > ul.forum-titles {
        & > li {
          padding: 0.25rem 0.5rem;
        }
      }
    }
    & > li.bbp-body {
      & > ul {

        display: flex;
        align-items: center;
        padding: 30px 8px;
        border-bottom: 1px solid rgba(0,0,0, .1);

        &:last-child {
          border: none;
        }

        &.odd {
          background-color: transparent;
        }
        &.even {
          background-color: transparent;
        }

        & .bbp-topic-freshness {
          display: flex;
          justify-content: center;
          flex-direction: column;
        } 

        & > li.bbp-topic-title {

          & > p.bbp-topic-meta {
            display: none;
          }
        }
      }
    }
    & > li.bbp-footer {
      display: none;
    }
  }
}


#bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results, #bbpress-forums ul.bbp-topics {
  font-size: 17px;
}
